
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.titulo{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: rgb(146, 137, 137); font-size: 45px;

}.tituloBlack{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: black; font-size: 45px;
}
.subtitulo{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: black; font-size: 35px;
}
 
.fuente{
    font-family: 'Gentium Book Basic', serif; color: rgb(94, 88, 88); font-size: 20px;
}
.fondo_historia{
background: url(../Media/img/fondo_historia.png) no-repeat center center fixed;
background-size: cover; opacity: 5; }

.fuente_nav{
    font-family: 'Poppins', sans-serif;
}
.fuente_nav :hover{
    font-family: 'Gentium Book Basic', bold;
}

/* Diseño de iframe google map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


.nav{
    background:   rgba(223, 116, 17, 0.993); opacity: .95;
  }
  .nav:after{
    content: ''; clear: both; display: table;
  }
  .nav .logo{ 
    float: left; color: white; font-size: 27px; font-weight: 600; line-height: 70px; padding-left: 10px;
  }
  .nav .ul{ 
    float: right;margin-right: 40px;list-style: none;position: relative;
  }
  .nav .ul .li{
    float:left;display: inline-block;background:  rgba(223, 116, 17, 0.993);margin: 0 1px;
  }
  .nav .ul .li .a{
    color: white;line-height: 70px;text-decoration: none;font-size: 15px;padding: 5px 15px;
  }
  .nav .ul .li .a:hover{
    color:rgba(7, 7, 7, 0.993);border-radius: 5px;box-shadow:  0 0 5px rgba(165, 69, 5, 0.993),0 0 10px rgba(160, 66, 3, 0.993);
  }
  .logotipo:hover{
    border-radius: 2px; box-shadow:  0 0 5px rgba(165, 69, 5, 0.993), 0 0 10px rgba(160, 66, 3, 0.993);

  }
  .nav .ul .ul .li .a:hover{
    box-shadow: none;
  }
  .nav .ul .ul{
    position: absolute;top: 90px;border-top: 3px solid rgba(223, 116, 17, 0.993);opacity: 0;visibility: hidden;
    transition: top .3s;
  }
  .nav .ul .ul .ul{
    border-top: none;
  }
  .nav .ul .li:hover > .ul{
    top: 70px;opacity: 1;visibility: visible;
  }
  .nav .ul .ul .li{
    position: relative;margin: 0px;width: 300px;float: none;display: list-item;border-bottom: 0.5px solid  rgba(223, 116, 17, 0.993);
  }
  .nav .ul .ul .li .a{
    line-height: 50px;
  }
  .nav .ul .ul .ul .li{
    position: relative;top: -60px;left: 150px;
  }
  .label,.icon,.input{
    display: none;
  }
  .fa-plus{
    font-size: 15px;margin-left: 40px;
  }
  @media all and (max-width: 968px) {
    .nav .ul{
      margin-right: 0px;float: left;
    }
    .nav .ul .li .a{
      line-height: 30px; font-size: 15px; text-align: left;
    }
    .nav .logo{
      padding-left: 20px; width: 100%;
    }
    .label + .a, .ul{
      display: none;
    }
    .nav .ul .li,.nav .ul .ul .li{
      display: block;width: 100%;
    }
    .nav .ul .li .a:hover{
      box-shadow: none;
    }
    .label{
      display: block;color: white;font-size: 15px;padding: 0 0px; line-height: 50px;cursor: pointer;
    }
    .label:hover{
      color: rgba(8, 8, 8, 0.993);
    }
    .icon{
      display: block;color: white;position: absolute;top: 0;right: 40px;line-height: 30px;cursor: pointer;
    }
    .nav .ul .ul{
      top: 40px; border-top: 0px;float: none;position: static;display: none;opacity: 1;visibility: visible;
    }
    .nav .ul .ul .a{
      padding-left: 40px; line-height: 30px;
    }
    .nav .ul .ul .ul .a{
      padding-left: 80px;
    }
    .nav .ul .ul .ul .li{
      position: static;
    }
    [id^=btn]:checked + .ul{
      display: block;
    }
    .nav .ul .ul .li{
      border-bottom: 0px;
    }
    .span.cancel:before{
      content: '\f00d';
    }
  }
  .content{
    z-index: -1;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
    text-align: center;
  }
  header{
    font-size: 35px;
    font-weight: 600;
    padding: 0px 0;
  }
 
  
  
