 

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
.titulo{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: rgb(146, 137, 137); font-size: 45px;

}.tituloBlack{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: black; font-size: 45px;
}
.subtitulo{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: black; font-size: 35px;
}
 
.fuente{
    font-family: 'Gentium Book Basic', serif; color: rgb(94, 88, 88); font-size: 20px;
}
.fondo_historia{
background: url(../Media/img/fondo_historia.png) no-repeat center center fixed;
background-size: cover; opacity: 5; }

.fuente_nav{
    font-family: 'Gentium Book Basic', bold; color: rgb(8, 8, 8); font-size: 20px; 
}
.fuente_nav ::shadow{
    font-family: 'Gentium Book Basic', bold; color: rgb(3, 3, 3); font-size: 20px;
}

/* Diseño de iframe google map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }